[x-cloak] { display: none !important; }

body {
    font-family: 'Montserrat', sans-serif;
}

.primary-color { background-color: var(--user-primary-color); }
.primary-text-color { color: var(--text-primary-color); }

.primary-color-active { background-color: var(--text-primary-color); }
.primary-text-color-active { color: var(--user-primary-color); }

.primary-active { background-color: var(--text-primary-color); }
.primary-text-active { color: var(--user-primary-color); }

.sideBar
{
    width: 300px;
    float: left;
    height: 500px;
    background: blue;
}

.border-teste {
    border-bottom: 3px solid var(--user-primary-color);
}

.styled-1 select:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
}

.styled-2 textarea:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
}

input[type=text]:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
    /*outline: 1px solid var(--user-primary-color);*/
}

input[type=password]:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
    /*outline: 1px solid var(--user-primary-color);*/
}

input[type=email]:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
    /*outline: 1px solid var(--user-primary-color);*/
}

input[type=number]:focus {
    border: 2px solid var(--user-primary-color);
    box-shadow: none
    /*outline: 1px solid var(--user-primary-color);*/
}

a:hover {
    background-color: var(--text-primary-color);
    color: var(--user-primary-color);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 10px;
    margin-left: 10px;
    /*margin: 10px;*/
}

p {
    font-size: small;
    color: gray;
}

.tables {
    border-collapse: collapse;
    overflow-x: auto;
    width: 100%;
}

.tables th {
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-size: smaller;
    background-color: var(--user-primary-color);
    color: var(--text-primary-color);
    overflow-x:auto;
}

.tables td {
    color:gray;
    font-size: small;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
}

.tables tr:nth-child(even){
    background-color: #f2f2f2;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tables tr:hover {
    background-color: #ddd;
    color:gray;
}
input{
    width: 20px;
    height: 20px;
}
input:checked{
    background-color: red;
    width: 20px;
    height: 20px;
}


/*#customers th {*/
/*    padding-top: 12px;*/
/*    padding-bottom: 12px;*/
/*    text-align: left;*/
/*    background-color: #0369A1;*/
/*    color: white;*/
/*}*/

.mini-stat {
    overflow: hidden;
}

.verti-label {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 50px;
    right: -9px;
    letter-spacing: 2px;
}

mini-stat-icon {
    position: absolute;
    right: 46px;
    top: -35px;
    color: rgba(255, 255, 255, 0.3);
}

.page-title-box {
    margin-top: 60px;
    background: url("../img/bg.jpg");
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px; /* You must set a specified height */
    margin-bottom: 70px;
    position: relative;
}

.scrollbar
{
    padding-right: 4px;
    height: 240px;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
}

.scrollbar-charges
{
    padding-right: 4px;
    height: 380px;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
}

.scrollbar_notification
{
    padding-right: 4px;
    height: 200px;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    /*margin-right: 5px;*/
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 10;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-right: 25px;
}

#style-1::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/
[data-tooltip] {
    --arrow-size: 5px;
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(59, 72, 80, 0.9);
    background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%,  calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: '';
    border-style: solid;
    border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size); /* CSS triangle */
    border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element,
                              the transition effects for the
                              tooltip arrow are "turned off" */
    transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/*
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
    transition-delay: 0.5s; /* Starting after the grow effect */
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}
/*
  That's it for the basic tooltip.

  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + var(--arrow-size));
    bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
    transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
    border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + var(--arrow-size));
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(var(--arrow-size), 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
    transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
    border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}



/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(100% + var(--arrow-size));
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, var(--arrow-size)) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
    border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
    transform-origin: bottom;
}


[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    width: 36px;
    height: 36px;

    /*border: 2px solid #f00;*/
    /*--tw-ring-offset-shadow: 0 0 3pt 2pt cornflowerblue;*/
}
